[submodule "org.freedesktop.Sdk.Extension.openjdk9"]
	path = org.freedesktop.Sdk.Extension.openjdk9
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk9.git
[submodule "org.freedesktop.Sdk.Extension.openjdk10"]
	path = org.freedesktop.Sdk.Extension.openjdk10
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk10.git
[submodule "org.freedesktop.Sdk.Extension.openjdk11"]
	path = org.freedesktop.Sdk.Extension.openjdk11
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk11.git
[submodule "org.freedesktop.Sdk.Extension.openjdk"]
	path = org.freedesktop.Sdk.Extension.openjdk
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk.git
