[submodule "org.freedesktop.Sdk.Extension.openjdk11"]
	path = org.freedesktop.Sdk.Extension.openjdk11
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk11.git
	branch = branch/21.08
[submodule "org.freedesktop.Sdk.Extension.openjdk"]
	path = org.freedesktop.Sdk.Extension.openjdk
	url = git@github.com:flathub/org.freedesktop.Sdk.Extension.openjdk.git
	branch = branch/21.08
[submodule "org.eclipse.Java"]
	path = org.eclipse.Java
	url = git@github.com:flathub/org.eclipse.Java.git
	branch = master
[submodule "org.eclipse.Committers"]
	path = org.eclipse.Committers
	url = git@github.com:flathub/org.eclipse.Committers.git
	branch = master
[submodule "org.eclipse.Javascript"]
	path = org.eclipse.Javascript
	url = git@github.com:flathub/org.eclipse.Javascript.git
	branch = master
